<nav>
  <div>
    <ul>
      <li routerLink="active">
        <a routerLink="/">Start</a>
      </li>
      <li routerLink="active">
        <a routerLink="/recept">Recept</a>
      </li>
      <li routerLink="active">
        <a routerLink="/blog">Blog</a>
      </li>
    </ul>
  </div>
  <form [formGroup]="testForm" (ngSubmit)="onSubmit()">
    <textarea formControlName="text"></textarea>
    <input type="text" formControlName="number" #val />
    <button type="submit">click</button>
  </form>
  <p>{{ val.value }}</p>
</nav>
